Checks: [
  '*',

  '-cppcoreguidelines-macro-usage',
  '-cppcoreguidelines-avoid-c-arrays',
  '-cppcoreguidelines-avoid-non-const-global-variables',
  '-cppcoreguidelines-avoid-magic-numbers',
  '-cppcoreguidelines-pro-type-vararg',
  '-cppcoreguidelines-avoid-do-while',
  '-cppcoreguidelines-pro-type-reinterpret-cast',
  '-cppcoreguidelines-pro-bounds-constant-array-index',
  '-cppcoreguidelines-pro-bounds-array-to-pointer-decay',
  '-cppcoreguidelines-prefer-member-initializer',
  '-cppcoreguidelines-use-default-member-init',
  '-cppcoreguidelines-special-member-functions',
  '-cppcoreguidelines-pro-bounds-pointer-arithmetic',
  '-cppcoreguidelines-rvalue-reference-param-not-moved',
  '-cppcoreguidelines-non-private-member-variables-in-classes',
  '-cppcoreguidelines-owning-memory',

  '-concurrency-mt-unsafe',

  '-altera-*',

  '-fuchsia-*',

  '-llvm-*',

  '-llvmlibc-*',
  
  '-boost-use-ranges',

  '-bugprone-easily-swappable-parameters',
  '-bugprone-crtp-constructor-accessibility',
  '-bugprone-reserved-identifier',
  '-bugprone-assignment-in-if-condition',

  '-cert-dcl16-c',
  '-cert-err58-cpp',
  '-cert-dcl50-cpp',
  '-cert-err33-c',
  '-cert-msc32-c',
  '-cert-msc51-cpp',
  '-cert-dcl37-c',
  '-cert-dcl51-cpp',

  '-google-build-using-namespace',
  '-google-readability-braces-around-statements',
  '-google-readability-casting',
  '-google-readability-function-size',
  '-google-readability-namespace-comments',
  '-google-readability-todo',
  '-google-objc-global-variable-declaration',
  '-google-readability-avoid-underscore-in-googletest-name',

  '-hicpp-avoid-c-arrays',
  '-hicpp-avoid-goto',
  '-hicpp-braces-around-statements',
  '-hicpp-explicit-conversions',
  '-hicpp-function-size',
  '-hicpp-member-init',
  '-hicpp-move-const-arg',
  '-hicpp-multiway-paths-covered',
  '-hicpp-named-parameter',
  '-hicpp-no-array-decay',
  '-hicpp-no-assembler',
  '-hicpp-no-malloc',
  '-hicpp-signed-bitwise',
  '-hicpp-special-member-functions',
  '-hicpp-uppercase-literal-suffix',
  '-hicpp-use-auto',
  '-hicpp-use-emplace',
  '-hicpp-vararg',

  '-misc-include-cleaner', # useful but far too many occurrences
  '-misc-no-recursion',
  '-misc-non-private-member-variables-in-classes',
  '-misc-use-anonymous-namespace',
  '-misc-use-internal-linkage',
  '-misc-definitions-in-headers', # perhaps, can be enabled
  # '-misc-const-correctness',

  '-modernize-avoid-c-arrays',
  '-modernize-use-auto',
  '-modernize-use-default-member-init',
  '-modernize-use-emplace',
  '-modernize-use-nodiscard',
  '-modernize-loop-convert',
  '-modernize-use-trailing-return-type',
  '-modernize-use-designated-initializers',
  '-modernize-concat-nested-namespaces',

  '-performance-avoid-endl',
  '-performance-enum-size',
  '-performance-no-int-to-ptr',
  '-performance-move-const-arg',


  '-readability-redundant-access-specifiers',
  '-readability-qualified-auto',
  '-readability-use-std-min-max',
  '-readability-function-cognitive-complexity',
  '-readability-function-size',
  '-readability-identifier-length',
  '-readability-identifier-naming', # useful but too slow
  '-readability-implicit-bool-conversion',
  '-readability-magic-numbers',
  '-readability-named-parameter',
  '-readability-math-missing-parentheses',
  '-readability-convert-member-functions-to-static',

  # '-zircon-*'
]

WarningsAsErrors: '*'

ExtraArgs:
# clang-tidy 17 started to complain (for unknown reasons) that various pragmas are unknown ("clang-diagnostic-unknown-pragmas").
# This is technically a compiler error, not a clang-tidy error. We could litter the code base with more pragmas that suppress
# this error but it is better to pass the following flag to the compiler:
- '-Wno-unknown-pragmas'
- '-Wno-unused-command-line-argument' # similar issue
